@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tajawal", sans-serif;
}

main {
    width: 500px;
    margin: 40px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
main .first {
    display: flex;
    flex-direction: column;
    background-color: #05352b;
    padding: 20px;
    color: #fff;
}
main .first .logo {
    width: 120px;
}
main .first .logo img {
    width: 100%;
}
main .first .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .first .two .name {
    font-weight: 600;
    font-size: 35px;
    display: block;
}
main .first .two .job-title {
    font-size: 20px;
    font-weight: 400;
}
main .three {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
main .three img {
    width: 28px;
}
main .seconde a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #05352b;
    width: fit-content;
    margin: 25px auto;
    padding: 14px 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #fff;
    text-decoration: none;
}
main .seconde a img {
    width: 24px;
}
main .third {
    display: flex;
    flex-direction: column;
}
main .third .box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    border-bottom: 1px solid #05352b;
    padding: 15px 25px;
}
main .third .box:last-child {
    border: none;
}
main .third .box div {
    display: flex;
    flex-direction: column;
}
main .third .box div .number {
    color: #05352b;
    font-weight: 600;
}
main .third .box div .phonenumber {
    color: #333;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        margin: 0;
    }
    main .first .logo {
        width: 100px;
    }
    main .first .two .name {
        font-size: 26px;
    }
    main .first .two .job-title {
        font-size: 18px;
    }
}
